body{
margin: 100px;

}



.container1{
  background-color: grey;

}
.planet1{
 background-image: url("https://htmlbase.ru/storage/app/media/position-task1/planet-1.png");
  height: 119px;
  width: 119px;
  margin-left: 250px;
}
.planet2{
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/planet-2.png");
  height: 169px;
  width: 169px;
  margin-top: -60px;
  margin-left: 135px;

}
.planet3{
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/planet-3.png");
  height: 242px;
  width: 242px;
  margin-top: -75px;
  margin-left: 230px;
}
.spaceship {
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/spaceship.png");
  height: 41px;
  width: 41px;
  margin-top:-80px;
  margin-left: 220px;
}
.ufo{
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/ufo.png");
  height: 52px;
  width: 76px;
  margin-top:-80px;
  margin-left: 220px;
}
.asteroid{
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/asteroid.png");
  margin-top: -300px;
  margin-left: 500px;
  height: 62px;
  width: 62px;

}
.superman{
  background-image: url("https://htmlbase.ru/storage/app/media/position-task1/superman.png");
  margin-top: 345px;
  margin-left: 550px;
  height: 71px;
  width: 71px;

}



